<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input placeholder="title" matInput formControlName="title" type="text" />
    </mat-form-field>

    <!-- File picker -->
    <div>
      <button
        mat-stroked-button
        mat-button
        (click)="filePicker.click()"
        type="button"
      >
        Pick Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>

    <!-- File Picker -->

    <div
      class="image-preview"
      *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid"
    >
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>

    <mat-form-field>
      <textarea
        formControlName="content"
        placeholder="type text"
        matInput
        cols="30"
        rows="10"
      ></textarea>
    </mat-form-field>

    <button color="primary" type="submit" mat-raised-button>Add post</button>
  </form>
</mat-card>
